<mat-expansion-panel *ngIf="navigationItem.groupedNavRoutes"
                     [expanded]="shouldOpenGroup(navigationItem.groupedNavRoutes)"
                     class="mat-elevation-z0">
    <mat-expansion-panel-header>
        <mat-panel-title class="group-title">
            {{navigationItem.group | titlecase}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
        <a *ngFor="let item of navigationItem.groupedNavRoutes" mat-list-item class="sidenav-item"
           [routerLink]="[item.path]"
           [ngClass]=" isSelected(item)? 'selected' : ''" disableRipple>
            <mat-icon fxFlex="15%">{{item.icon}}</mat-icon>
            <div class="item-selector"></div>
            <div> {{item.data?.title}} </div>
        </a>
    </div>
</mat-expansion-panel>
<a *ngIf="!navigationItem.groupedNavRoutes" mat-list-item class="sidenav-item"
   [routerLink]="[navigationItem.path]"
   [ngClass]=" isSelected(navigationItem)? 'selected' : ''" disableRipple>
    <mat-icon fxFlex="15%">{{navigationItem.icon}}</mat-icon>
    <div class="item-selector"></div>
    <div> {{navigationItem.data?.title}} </div>
</a>
