
<mat-table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="step1">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Step 1 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.step1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="step2">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Step 2 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.step2}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="step3">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Step 3 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.step3}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
